<div class="row">
  <div class="col s8">
    <% form_for @category, url, method: method.to_s do |f| %>
      <div class="input-field col s4">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>

      <div class="input-field col s8">
        <%= f.text_field :description %>
        <%= f.label :description %>
      </div>

      <button class="btn waves-effect waves-light s6" type="submit" name="action"><%= submit_title %>
          <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>