<%= partial 'categories/notice' %>

<table class="bordered">
  <tr>
    <th><%= I18n.t('models.category.attributes.name') %></th>
    <th><%= I18n.t('models.category.attributes.description') %></th>
    <th><%= I18n.t('listing.options') %></th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td>
        <%=
          link_to 'mode_edit', url_for(:categories, :edit, id: category.id),
          class: "material-icons teal-text darken-1-text"
        %>
      </td>
      <td>
        <% form_for category, url_for(:categories, :destroy, id: category.id),
          method: 'delete' do |f| %>
            <%= f.submit "delete", class: 'material-icons teal-text darken-1-text' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'playlist_add', url_for(:categories, :new), class: "material-icons waves-effect waves-light btn" %>
</p>