<% form_for @product, url, method: method do |f| %>
  <div class="row">
    <div class="col s8">
      <div class="input-field col s4">
        <%= f.text_field :title %>
        <%= f.label :title %>
      </div>

      <div class="input-field col s8">
        <%= f.text_field :description %>
        <%= f.label :description %>
      </div>

      <div class="input-field col s4">
        <%= f.select :sub_category_id, :collection => @sub_categories, :fields => [:name, :id], :include_blank => true %>
        <%= f.label :sub_category_id %>
      </div>

      <div class="input-field col s4">
        <%= f.text_field :size %>
        <%= f.label :size %>
      </div>

      <div class="input-field col s4">
        <%= f.text_field :color %>
        <%= f.label :color %>
      </div>

      <div class="input-field col s4">
        <%= f.text_field :sale_price %>
        <%= f.label :sale_price %>
      </div>

      <div class="input-field col s4">
        <%= f.text_field :purchase_price %>
        <%= f.label :purchase_price %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col s8">
      <div class="col s6">
        <button class="btn waves-effect waves-light s6" type="submit" name="action"><%= submit_title %>
            <i class="material-icons right">send</i>
        </button>        
      </div>
    </div>
  </div>
<% end %>