<%= partial 'products/notice' %>

<table class="bordered">
  <tr>
    <th><%= I18n.t('models.product.attributes.title') %></th>
    <th><%= I18n.t('models.product.attributes.size') %></th>
    <th><%= I18n.t('models.product.attributes.color') %></th>
    <th><%= I18n.t('models.product.attributes.sale_price') %></th>
    <th><%= I18n.t('models.product.attributes.sub_category_id') %></th>
    <th><%= I18n.t('listing.options') %></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.size %></td>
      <td><%= product.color %></td>
      <td><%= product.sale_price %></td>
      <td><%= product.sub_category.name %></td>
      <td>
        <%= link_to 'mode_edit', url(:products, :edit, :id => product.id), class: "material-icons teal-text darken-1-text" %>
      </td>
      <td>
        <% form_for product, url(:products, :destroy, :id => product.id), method: 'delete' do |f| %>
            <%= f.submit "delete", class: 'material-icons teal-text darken-1-text' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'playlist_add', url_for(:products, :new), class: "material-icons waves-effect waves-light btn" %>
</p>