<%= partial '/users/login_error' %>

<div class="row">
  <div class="col s8">
    <% form_for :user, url_for(:users, :login), method: 'post' do |f| %>
      <div class="input-field col s4">
        <%= f.email_field :email %>
        <%= f.label :email %>
      </div>

      <div class="input-field col s8">
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>

      <button class="btn waves-effect waves-light s6" type="submit" name="action">
          <%= I18n.t("button.user.signin") %>
          <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>