<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABoutique</title>
    <%= stylesheet_link_tag "materialize", :media => "all" %>
    <%= javascript_include_tag "jquery-2.1.4" %>
    <%= javascript_include_tag "materialize" %>
    <%= javascript_include_tag "permit_select" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper teal">
      <h2 class="comic-sans-font header center white-text">ABoutique</h2>
    </div>
  </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
      <br>
      </div>
    </div>
    <%= yield %>
  </body>
</html>