<div class="row">
  <div class="col s12">
    <% form_for @sub_category, url, method: method.to_s do |f| %>
      <div class="input-field col s4">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :description %>
        <%= f.label :description %>
      </div>

      <div class="input-field col s4">
        <%= f.select :category_id, :collection => @categories, :fields => [:name, :id], :include_blank => true %>
        <%= f.label :category_id %>
      </div>

      <button class="btn waves-effect waves-light s6" type="submit" name="action"><%= submit_title %>
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>