<%= partial 'sub_categories/notice' %>

<table class="bordered">
  <tr>
    <th><%= I18n.t('models.sub_category.attributes.name') %></th>
    <th><%= I18n.t('models.sub_category.attributes.description') %></th>
    <th><%= I18n.t('listing.options') %></th>
    <th></th>
  </tr>
  <% @sub_categories.each do |sub_category| %>
    <tr>
      <td><%= sub_category.name %></td>
      <td><%= sub_category.description %></td>
      <td>
        <%=
          link_to 'mode_edit', url_for(:sub_categories, :edit, id: sub_category.id),
          class: "material-icons teal-text darken-1-text"
        %>
      </td>
      <td>
        <% form_for sub_category, url_for(:sub_categories, :destroy, id: sub_category.id), method: 'delete' do |f| %>
            <%= f.submit "delete", class: 'material-icons teal-text darken-1-text' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'playlist_add', url_for(:sub_categories, :new), class: "material-icons waves-effect waves-light btn" %>
</p>